.value {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    white-space: pre;
}

.overloaded {
    color: var(--warningColor);
}

.hint {
    opacity: 0.8;
    font-size: 0.9em;
}
