.panel {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    color: rgb(255, 255, 255);
}

.optionRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 12rem;
}

.optionLabel {
    max-width: 50%;
    margin-right: 15rem;
    font-size: var(--fontSizeS);
    font-weight: bold;
}

.optionContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.textButton {
    width: auto;
    height: 28rem;
    padding: 0 8rem;
    margin: 2rem;
    border-radius: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSizeS);

    color: var(--menuText1Normal);
    background-color: rgba(15, 16, 19, 1);
}

.textButton:hover {
    background-color: rgba(29, 31, 37, 1);
}

.flagButton {
    width: 44rem;
    height: 32rem;
    margin: 2rem;
}

.textButton img {
    display: none;
}

.textButton {
    border-width: 2rem;
    border-style: solid;
    border-color: transparent;
}

.selected {
    background-color: var(--accentColorNormal);

    border-color: var(--accentColorLight);
}

.sortContent {
    position: relative;
    flex-direction: column;
    align-items: stretch;
}

.sortToggle {
    width: 100%;
}

.sortMenu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.sortItem {
    padding: 6rem 10rem;
    color: rgb(255, 255, 255);
    font-size: var(--fontSizeS);
    cursor: pointer;
}

.sortItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sortItemOn {
    color: var(--accentColorNormal);
}

.authorList {
    flex: 1 1 0;
    max-height: 150rem;
}

.checkRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2rem 10rem 2rem 0;
}

.checkLabel {
    margin-left: 4rem;
    font-size: var(--fontSizeS);
    color: var(--menuText1Normal);
}

.numberField {
    width: 75rem;
    height: 28rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSizeS);
}

.stepButton {
    width: 28rem;
    height: 28rem;
}
